<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="K2uCSLLpOAEhJKVTm19KURxaET3fKku8SHs_LnPMzYc" />
    <meta name="description"
          content="@ViewBag.Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Farma Vojovice </title>
    <link href="~/Bull.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/NavBarStyle.css">
    <link rel="stylesheet" href="~/Content/BodyStyle.css">
    <link rel="stylesheet" href="~/Content/GalleryStyle.css">
    <link rel="stylesheet" href="~/Content/OfferStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="bg-img">
        <img class="nav-logo" src="~/Images1/logo_bez_pozadí.png" width="180" height="60" alt="Farma Vojovice">
    </div>
    <div id="myNavbar" class="topnav">
        <div class="container">
            @Html.ActionLink("Farma", "Index", "Home", new { area = "" }, null)
            @Html.ActionLink("Zrání", "Maturation", "Home", new { area = "" }, null)
           <a id="logo" class="caw-logo" href=#>
                <img src="~/Bull.ico" width="30" height="30" alt="Logo">
           </a>
            @Html.ActionLink("Naše nabídka", "Offer", "Home", new { area = "" }, null)
            @Html.ActionLink("Kontakt", "Contact", "Home", new { area = "" }, null)
            @Html.ActionLink("Galerie", "Gallery", "Home", new { area = "" }, null)

            <a href="javascript:void(0);" class="icon" onclick="showSmallMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div> 
    </div>
    <div class="vertical-center container body-content">
        <div class="row">
            <div class="col-lg-6" style="position:static">
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Farma-Vojovice-101344071927510"><span class="fa fa-facebook-square" style="font-size:20px"></span></a>
            </div>
            <div class="meal-date col-lg-6" style="position:static">@ViewBag.Date</div>
        </div>
        <hr class="top-hr"/>
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        @Html.Partial("../Home/_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/StickyScript.js")
    @RenderSection("Scripts", required: false)
</body>
</html>
