
@using FarmaVojovice.Models
@model IEnumerable<OfferModel>

<h2>@ViewBag.Title.</h2>

<div class="container">
    <div class="row">

        <div class="offer-info col-md-7" style="position:static">
            <p style="font-size:30px;color:white;position:static">@ViewBag.FirstPar</p>
            <p style="font-size:30px;color:white;position:static">@ViewBag.SecondPar</p>
        </div>
        <div class="meal-offer col-md-5" style="position:static">
            <img src="~/Images1/Info/balicek.jpg" width="400" height="300" alt="Meat">
            <p>@ViewBag.Date</p>
        </div>
    </div>
    <div class="row">
        <div class="meal-table col-lg-12" style="position:static">
            <!--   <div class="row"> Vratit az budou obrazky -->
            <h3>Ceník hovězího masa</h3>
            <div>

                @if (Model.Count() > 0)
                {
                    <hr />
                    <table class="table-offer">
                        <tr>
                            <th>Druh masa</th>
                            <th>Cena</th>
                        </tr>
                        @foreach (OfferModel offer in Model)
                        {
                            <tr>
                                <td>@offer.Name</td>
                                <td>@offer.Cost</td>
                            </tr>
                        }
                    </table>
                }
                <p>Ceny uvedené v ceníku jsou za 1 kg a včetně DPH 15%.</p>
            </div>
            <!--   </div> Vratit az budou obrazky -->
        </div>
    </div>
</div>