@{
    ViewBag.Title = "Naše nabídka";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-5" style="position:static">
            <div class="meal-offer">
                <img src="~/Images1/meat-4-256(1).png" width="200" height="200" alt="Meat">
                <p>Odběr masa možný od @ViewBag.Date</p>
            </div>
            <div class="offer-info">
                <h3>@ViewBag.Message</h3>
                <div>
                    <a href='@Url.Action("Contact", "Home")' class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-phone"></span> Kontakt
                    </a>
                    <a class="btn btn-link btn-lg"><span class="fa fa-facebook-official" style="font-size:20px"></span></a>
                </div>
            </div>            
        </div>
        <div class="meal-table col-lg-7" style="position:static">
            <div class="row">
                <h3>Naleznete u nás</h3>
                <div>
                    <div class="col-sm-4" style="position:static">
                        <a href='@Url.Action("_OfferTypeFocus", "Offer")'>
                            <img src="~/Images1/Maso1.jpg" width="200" height="200" alt="Logo">
                            <span>Balíček xyz - 1000$</span>
                        </a>
                    </div>
                    <div class="col-sm-4" style="position:static">
                        <a href='@Url.Action("_OfferTypeFocus", "Offer")'>
                            <img src="~/Images1/Maso2.jpg" width="200" height="200" alt="Logo">
                            <span>Balíček xyz - 100$</span>
                        </a>
                    </div>
                    <div class="col-sm-4" style="position:static">
                        <a href='@Url.Action("_OfferTypeFocus", "Offer")'>
                            <img src="~/Images1/Maso3.jpg" width="200" height="200" alt="Logo">
                            <span>Balíček xyz - 10000$</span>
                        </a>
                    </div>
                    <div class="col-sm-4" style="position:static">
                        <a href='@Url.Action("_OfferTypeFocus", "Offer")'>
                            <img src="~/Images1/Maso3.jpg" width="200" height="200" alt="Logo">
                            <span>Balíček xyz - 10000$</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>