@{
    ViewBag.Title = "Naše nabídka";
}
@using FarmaVojovice.Models
@model IEnumerable<OfferModel>

<h2>@ViewBag.Title.</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-5" style="position:static">
            <div class="meal-offer">
                <img src="~/Images1/meat-4-256(1).png" width="200" height="200" alt="Meat">
                <p>@ViewBag.Date</p>
            </div>
            <div class="offer-info">
                <h3>@ViewBag.Message</h3>
                <div>
                    <a href='@Url.Action("Contact", "Home")' class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-phone" style="position:static"></span> Kontakt
                    </a>
                    <a class="btn btn-link btn-lg"><span class="fa fa-facebook-official" style="font-size:20px"></span></a>
                </div>
            </div>
        </div>
        <div class="meal-table col-lg-7" style="position:static">
            <!--   <div class="row"> Vratit az budou obrazky -->
            <h3>Naleznete u nás</h3>
            <div>

                @if (Model.Count() > 0)
                {
                    <hr />
                    <table class="table-offer" cellpadding="0" cellspacing="0" border="1">
                        <tr>
                            <th>Druh</th>
                            <th>Cena</th>
                            <th>Datum zabití</th>
                            <th>Popis</th>
                        </tr>
                        @foreach (OfferModel offer in Model)
                        {
                            <tr>
                                <td>@offer.Name</td>
                                <td>@offer.Cost</td>
                                <td>@offer.DeadDate</td>
                                <td>@offer.Description</td>
                            </tr>
                        }
                    </table>
                }
            </div>
            <!--   </div> Vratit az budou obrazky -->
        </div>
    </div>
</div>